body{
    background-color: white;
    margin:80px;
    margin-top:0px;
}

.container{
    margin-left: 50px;
    margin-right: 50px;

    margin-top: 20px;
    margin-bottom: 20px;
}

*{
    box-sizing:border-box;
}

.row:after{
    content:"";
    display:table;
    clear:both;
}

.col{
    float:left;
    width:50%;
    padding:10px;
    height:300px;
}

h1{
    color:grey;
}

#section{
    border:3px;
}

a{
    color: black;
    margin-right: 5px;
}

.active{
    color:orange;
}

.kontak{
    list-style-type:none;
    padding-left:0px;   
}



.kontak li{
    margin:8px;
}

.edukasi li{
    margin:5px;
}